body {
    background-color: red;
}


.text {
    color: white;
    text-align: center;
    font-size: 80px;
    text-shadow: 5px 5px 5px black;
 
}

.card {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}